* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: linear-gradient(to top, rgb(13, 13, 13), rgb(64, 64, 34));
  color: gold;
  padding: 10px 20px;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  position: sticky;
}
header .menu-icon {
  cursor: pointer;
  font-size: 28px;
}
header a {
  text-decoration: none;
  color: rgb(240, 216, 3);
}

nav ul li a {
  text-decoration: none;
  color: rgb(240, 216, 3);
  font-family: "Bebas Neue", cursive;
  font-size: 20px;
  padding: 10px 10px;
}
nav ul li a:hover {
  text-decoration: none;
  color: rgb(255, 149, 0);
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
}

@media (min-width: 768px) {
  header {
    overflow-x: hidden;
  }
  header .menu-icon {
    display: none;
  }
  header .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    color: gold;
    padding: 1rem;
    display: flex;
  }
  main {
    padding-top: 10px 20px;
  }
}
@media (min-width: 768px) {
  header .menu {
    position: relative;
  }
}
header input[type=checkbox] {
  display: none;
}
header input[type=checkbox][type=checkbox]:checked ~ .menu {
  display: block;
  background-color: #333;
}
header ul {
  list-style: none;
}

@media (min-width: 768px) {
  header ul {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: end;
  }
  nav ul li a {
    text-decoration: none;
    color: linear-gradient(to top, rgb(13, 13, 13), rgb(64, 64, 34));
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    padding: 10px 10px;
  }
  nav ul li a:hover {
    text-decoration: none;
    color: rgb(255, 149, 0);
    font-family: "Bebas Neue", cursive;
    font-size: 40px;
  }
  nav ul li a:active {
    text-decoration: none;
    color: rgb(81, 0, 255);
    font-family: "Bebas Neue", cursive;
    font-size: 30px;
  }
}
.logo_header img {
  height: 80px;
  width: 80px;
}

.title_header {
  color: gold;
  font-size: 30px;
  font-family: "Anton", sans-serif;
  text-shadow: black 4px 5px;
}

.logoytitle_header_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon {
  cursor: pointer;
  font-size: 28px;
  color: gold;
}

.menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 1rem;
  display: none;
}

input [type=checkbox] {
  display: none;
}
input [type=checkbox]:checked ~ .menu {
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

footer {
  padding: 25px;
  color: gold;
  background-image: linear-gradient(to top, rgb(13, 13, 13), rgb(64, 64, 34));
  font-size: 25px;
  font-family: "Bebas Neue", cursive;
}
footer h4 {
  color: #000000;
  font-size: 30px;
  font-weight: 50px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}
footer h5 {
  color: #000000;
  font-size: 30px;
  font-weight: 50px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

footer ul li {
  padding: 5px;
  list-style: none;
  font-size: 20px;
}

.datosyredes-contenedor {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .datosyredes-contenedor {
    display: grid;
    grid-template-areas: "datos redes";
    padding: 1rem;
    gap: 15rem;
  }
}
.datosyredes-contenedor p {
  font-size: 20px;
  font-family: "Bebas Neue", cursive;
  color: gold;
}

footer .whatsapp {
  position: sticky;
  bottom: 10px;
  right: 30px;
  overflow-x: hidden;
}

.principal-box {
  background-image: url(../img/fondohome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 250px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.texto-ppal {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-family: "Anton", cursive;
  text-align: center;
}

.principal-box__title h1 {
  color: white;
  text-shadow: 50px;
  font-size: 50px;
  font-family: "Bebas Neue", cursive;
}

.secundario-box {
  background-image: url(../img/fondopagina2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2, h3 {
  color: black;
  font-size: 30px;
  font-weight: 50px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

.funcionamiento-contenedor {
  justify-content: column;
  text-align: center;
}
.funcionamiento-contenedor p {
  font-family: "Anton", cursive;
  font-size: 20px;
  color: black;
  padding: 15px;
}

@media (min-width: 768px) {
  .funcionamiento-contenedor {
    display: grid;
    grid-template-areas: "funcion-1 funcion-2 funcion-3 funcion-4";
    padding: 1rem;
    justify-content: center;
    text-align: center;
  }
  .principal-box__title h1 {
    color: white;
    text-shadow: 50px;
    font-size: 50px;
    font-family: "Bebas Neue", cursive;
  }
  .texto-ppal {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-family: "Anton", cursive;
    text-align: center;
  }
}
.img-manos img {
  width: 100%;
}

aside p {
  font-family: "Anton", cursive;
  font-size: 20px;
  padding: 15px;
}

.elegirnos-contenedor {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 768px) {
  .elegirnos-contenedor {
    display: grid;
    grid-template-areas: "elegirnos-uno elegirnos-dos elegirnos-tres";
    padding: 1rem;
    justify-content: center;
    text-align: center;
  }
}
.page-service {
  padding-top: 0px;
}

.subtittle-service {
  color: black;
  font-size: 30px;
  font-weight: 50px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

.tittle-1 h1 {
  color: black;
  text-shadow: rgb(198, 166, 8) 4px 5px;
  padding-top: 50px;
  font-size: 50px;
  font-weight: 50px;
  text-align: center;
  font-family: "Anton", cursive;
}

.text-other {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 30px;
  font-family: "Anton", cursive;
  text-align: center;
}

.card-text {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 20px;
  font-family: "Anton", cursive;
  text-align: center;
}

.text-2 {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  color: black;
  font-size: 20px;
  font-family: "Anton", cursive;
  text-align: center;
}

.tittle-2 {
  color: black;
  text-shadow: rgb(198, 166, 8) 4px 5px;
  padding-top: 50px;
  font-size: 50px;
  font-weight: 50px;
  text-align: center;
  font-family: "Anton", cursive;
}

.logo-subtittle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.otherservices {
  display: grid;
  grid-template-columns: auto;
  padding: 1rem;
  gap: 2rem;
  justify-content: center;
}

@media (min-width: 768px) {
  .otherservices {
    display: grid;
    grid-template-areas: "card-1 card-2 card-3";
    padding: 1rem;
    gap: 2rem;
    justify-content: center;
  }
}
.paginawork {
  background-image: url(../img/fondofooter.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.work {
  background-image: url(../img/trabajaconnosotros2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.tittle-work h1 {
  color: black;
  text-shadow: rgb(198, 166, 8) 4px 5px;
  padding-top: 350px;
  font-size: 50px;
  font-weight: 50px;
  text-align: center;
  font-family: "Anton", cursive;
}

.text-work {
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: "Anton", cursive;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

label {
  font-family: "Anton", cursive;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 15px;
}

input {
  width: 90%;
  margin-left: 10px;
  padding: 0 10px;
}

select {
  margin-left: 10px;
}

textarea {
  margin-left: 10px;
  width: 80%;
}

.btn-enviar {
  margin-top: 20px;
  background-color: rgb(224, 191, 100);
  font-family: "Anton", cursive;
  font-size: 20px;
  border-radius: 20px;
  width: 100px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  input {
    width: 400px;
  }
  label {
    font-family: "Anton", cursive;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 15px;
  }
  .tittle-work h2 {
    color: black;
    text-shadow: rgb(198, 166, 8) 4px 5px;
    padding-top: 450px;
    font-size: 50px;
    font-weight: 50px;
    text-align: center;
    font-family: "Anton", cursive;
  }
  .text-work {
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Anton", cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
  }
}
.caratula-contacto {
  background-image: url(../img/contacto.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.caratula-contacto h1 {
  color: black;
  text-shadow: rgb(198, 166, 8) 4px 5px;
  padding-top: 350px;
  font-size: 50px;
  font-weight: 50px;
  text-align: center;
  font-family: "Anton", cursive;
}

.paginacontact {
  background-image: url(../img/fondofooter.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.contact-text {
  padding-top: 50px;
  padding-bottom: 50px;
  font-family: "Anton", cursive;
  font-size: 25px;
  color: black;
}

.page-signin {
  padding-top: 0px;
}

.container {
  width: 100%;
}

.title-platform {
  color: black;
  text-shadow: rgb(198, 166, 8) 4px 5px;
  padding-top: 50px;
  font-size: 30px;
  font-weight: 10px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  margin-left: 10px;
  margin-right: 10px;
}

.text-thanks {
  color: white;
  font-size: 30px;
  font-weight: 10px;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}

.text-platform {
  color: black;
  font-size: 20px;
  font-family: "Anton", cursive;
  text-align: center;
}

.img-icon {
  width: 20px;
}

.img-input {
  display: flex;
  padding-top: 20px;
  padding-bottom: 10px;
}

.columna-1 {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.columna-2 {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.whatsapp-sigin {
  display: flex;
}

.olvidar-text {
  color: blue;
  text-align: center;
}

.submit {
  margin-top: 20px;
  background-color: rgb(224, 191, 100);
  font-family: "Anton", cursive;
  font-size: 20px;
  border-radius: 20px;
  width: 100px;
  margin-bottom: 50px;
}

/*# sourceMappingURL=main.css.map */
