.page-service{
    padding-top: 0px;
}

.subtittle-service{
    @include titulo-2;
}

.tittle-1 h1{
    @include titulo(50px);
}

.text-other{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    color: map-get($colores, "color-text1");
    font-size: 30px;
    font-family: 'Anton', cursive;
    text-align: center;
}

.card-text{
    padding-top: 0px;
    display: flex;
    justify-content: center;
    color: map-get($colores, "color-text1");
    font-size: 20px;
    font-family: 'Anton', cursive;
    text-align: center;
}

.text-2{
    padding-top: 0px;
    display: flex;
    justify-content: center;
    color: map-get($colores, "color-text1");
    font-size: 20px;
    font-family: 'Anton', cursive;
    text-align: center;
}

.tittle-2 {
    @include titulo(50px) ;
}

.logo-subtittle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.otherservices{
    display: grid;
    grid-template-columns: auto; 
    padding: 1rem;
    gap: 2rem;
    justify-content: center;
    }

@media (min-width: 768px){
.otherservices{
    display: grid;
    grid-template-areas: 
    "card-1 card-2 card-3";
    padding: 1rem;
    gap: 2rem;
    justify-content: center;
    }
}