
.page-signin{
    padding-top: 0px;
}

.container{
    width: 100%;
}

.title-platform {
    color: map-get($colores, "color-tittle2" );
    text-shadow: map-get($colores, "color-sombra2") 4px 5px;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 10px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    margin-left: 10px;
    margin-right: 10px;
}
    
.text-thanks{
    color: map-get($colores, "color-text2");
    font-size: 30px;
    font-weight: 10px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
    
.text-platform{
    color: map-get($colores, "color-text1" );
    font-size: 20px;
    font-family: 'Anton', cursive;
    text-align: center;
}
    
.img-icon{
    width:20px;
}
    
.img-input{
    display: flex;
    padding-top: 20px;
    padding-bottom: 10px;
} 
    
.columna-1 {
    @include columna(50px);
}
   
.columna-2 {
    @include columna(100px);
}
    
.whatsapp-sigin{
    display: flex;
}
    
.olvidar-text{
    color: map-get($colores, "color-enlaces4");
    text-align: center;
}

.submit {
    margin-top: 20px;
    background-color: map-get($colores, "color-boton");
    font-family: 'Anton', cursive;
    font-size: 20px;
    border-radius: 20px;
    width: 100px;
    margin-bottom: 50px;
  }
